.slider-label {
    color: #BEBEBE !important;
  }

  .textLabelCustom{
    color: #FF9500 !important;
  }

.filterText{
    color: #BEBEBE !important;
}

.add-buttonCustom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FF9500;
}

.icon-button-add-custom{
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusButtonCustom{
  background-color: #EFEFEF;
  color: #BEBEBE;
  font-weight: bold;
}

.filterButtonCustom{
  font-weight: bolder;
  color: #BEBEBE;
}